.categories--container {
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-right-color: transparent;
  border-left-color: transparent;
  padding: 50px 0;
  margin: 100px 0px 50px 0px;
  flex-wrap: wrap;
}
