.logo--container {
  font-weight: 800;
  width: 60px;
  height: 40px;
  color: white;
  background: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  h3 {
    margin: 0 !important;
    font-weight: 900;
    font-size: 17px;
  }

  &.alt {
    background: white;
    color: black;
  }
}
